@use '@material/button/mdc-button'
@use '@material/button'
@use "@material/list/mdc-list"
@use "@material/menu-surface/mdc-menu-surface"
@use "@material/menu/mdc-menu"
@use "@material/select/styles"
@use "@material/floating-label/mdc-floating-label"
@use "@material/line-ripple/mdc-line-ripple"
@use "@material/notched-outline/mdc-notched-outline"
@use "@material/textfield"
@use "@material/snackbar/mdc-snackbar"

@include textfield.core-styles

*
    box-sizing: border-box

.board-container 
    position: relative
    max-width: min(1200px, calc(100vh - 180px))
    margin: auto
    width: 100%
    &::after 
        content: ""
        display: block
        padding-bottom: 100%

.board
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: repeat(8, 1fr)
    grid-template-rows: repeat(8, 1fr)
    justify-content: center
    border: solid 20px brown

.row
    display: contents

.cell
    width: 100%
    height: 100%
    border: 5px solid #00000000

    &.black
        background-color: black
    
    &.white
        background-color: white

    &.selection-origin
        border-color: yellow

    &.selection-move
        border-color: lime

    &.selection-eat
        border-color: red

.figure
    width: 80%
    height: 80%
    margin: 10%
    border-radius: 50%

    &.black
        border: 5px solid
        background-color: black
        border-color: white
    
    &.white
        background-color: white

.crown
    width: 60%
    height: 60%
    margin: 20%
    border-radius: 50%
    background-color: yellow
    border: 5px solid

    &.black
        background-color: black
        border-color: white
    
    &.white
        background-color: white
        border-color: black

.lower
    max-width: 1000px
    margin: auto

.controls
    display: grid
    grid-template-columns: 1fr 1fr

.foo-button
    margin: 20px
    @include button.container-fill-color(#2592c5)

.algorithm-settings
    margin: 20px
    margin-bottom: 0px
    display: grid
    grid-template-columns: 1fr 160px
    gap: 20px

.algo-select
    width: 100%

.took-measure
    margin: auto
    display: block
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    color: lightgray

@media screen and ( max-width: 500px )
    .controls 
       grid-template-columns: auto
       gap: 0

    .algorithm-settings
        grid-template-columns: auto

    .foo-button
        margin: 10px

    .board
        border: solid 10px brown

    .figure.black
        border-width: 3px
